<div class="home-hero">
            <h1>ЕСТЬ ?!</h1>
            <h3>A sample application built with Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB</h3>

    <br/>

    <table>
        <tr>
            <td>
                От
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-expanded="true">
                        <div class="stationFromValue">Выберите станцию</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <%_.each(model, function(item){ %>
                        <li><a class="stationFrom" role="menuitem" tabindex="-1" href="#"><%=item.name%></a></li>
                       <% });%>
                    </ul>
                </div>
            </td>
            <td>
                до
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" aria-expanded="true">
                        <div class="stationToValue">Выберите станцию</div>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <%_.each(model, function(item){ %>
                        <li><a class="stationTo" role="menuitem" tabindex="-1" href="#"><%=item.name%></a></li>
                        <% });%>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                время
            </td>
            <td>
                <select  class="time">
                    <option value="6">6:00 - 7:00</option>
                    <option value="7">7:00 - 8:00</option>
                    <option value="8">8:00 - 9:00</option>
                    <option value="9">9:00 - 10:00</option>
                </select>
            </td>
        </tr>
    </table>

    <div style="opacity: .9;">
        <a class="btn btn-large" href="#result">Есть сидячие места?</a>
    </div>


</div>

<div class="bs-docs-social">
  <div class="container">

  </div>
</div>